{% extends "checkweb/layout.html" %}
{% load static %}

{% block body %}

<h1>History of Tutorings</h1>

{% for month, data in tuts_by_month %}
{% if data.count > 0 %}
    <h2>{{ month|date:"Y-m" }}</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Student</th>
            <th>Teacher</th>
            <th>Subject</th>
            <th>Duration</th>
            <th>Content</th>
        </tr>
        {% for tut in data.tutorings %}
        <tr>
            <td>{{tut.date}}</td>
            <td>{{tut.student.first_name}} {{tut.student.last_name}}</td>
            <td>{{tut.teacher.first_name}} {{tut.teacher.last_name}}</td>
            <td>{{tut.subject.title}}</td>
            <td>{{tut.duration}}</td>
            <td><a href="{% url 'tutoring_view' tut.id %}">{{tut.content}}</a></td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <p>{{data.sum_money}}€</p>
    <hr><hr>
{% endif %}
{% endfor %}

{% endblock %}

{% block script %}
<script src="{% static 'checkweb/history.js' %}"></script>
{% endblock %}