{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
    <title>{% block title %}CheckMathe{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'checkweb/styles.css' %}">
    {% block script %}{% endblock %}
</head>

<body>
    <p>Layout Artefact...</p>
    {% block body %}{% endblock %}
</body>

</html>