{% extends "checkweb/layout.html" %}

{% block body %}

<h2>Register</h2>

<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" autofocus type="text" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Email Address">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="personal_teacher_code" placeholder="(Only if you are registering as teacher: Your Personal Teacher Code)">
    </div>
    <input class="btn btn-primary" type="submit" value="Register">
</form>


Already have an account? <a href="{% url 'login' %}">Log In here.</a> <br>

{% endblock %}