{% extends "checkweb/layout.html" %}
{% load static %}

{% block body %}

<h1>Ausgewähltes Tutoring</h1>
<span id="tut_id" data-tut_id="{{tut.id}}"></span>

<ul>
    <li>
        Date: <span id="tut_date">{{tut.date}}</span>
        <button class="Edit" id="edit-date">Edit</button>
        <!-- <input type="text" id="new_date", name="new_date" placeholder="YYYY-MM-DD"> -->
    </li>
    <li>Duration: {{tut.duration}} <button data-tut_id="{{tut.id}}" id="edit-duration">Edit</button></li></li>
    <li>Subject: {{tut.subject}}</li>
    <li>Teacher: {{tut.teacher.first_name}} {{tut.teacher.last_name}}</li>
    <li>Student: {{tut.student.first_name}} {{tut.student.last_name}}</li>
</ul>
<p>Content: {{tut.content}}</p>

{% endblock %}

{% block script %}
    <script src="{% static 'checkweb/tutoring.js' %}"></script>
{% endblock %}