{% extends "checkweb/layout.html" %}
{% load static %}

{% block body %}

<h1>Ausgewähltes Tutoring</h1>

<!-- contains id for frontend -->
<span id="tut_id" data-tut_id="{{tut.id}}"></span>  

<ul>
    <li>
        Date: <span id="tut_date">{{tut.date}}</span>
        {% if user.groups.first.name == "Teacher" %}
            <button class="Edit" id="edit-date">Edit</button>
        {% endif %}
    </li>
    <li>
        Duration: <span id="tut_duration">{{tut.duration}}</span>
        {% if user.groups.first.name == "Teacher" %}
            <button class="Edit" id="edit-duration">Edit</button>
        {% endif %}
    </li>
    <li>
        Content: <span id="tut_content">{{tut.content}}</span>
        {% if user.groups.first.name == "Teacher" %}
            <button class="Edit" id="edit-content">Edit</button>
        {% endif %}
    </li>
    <li>Subject: {{tut.subject}}</li>
    <li>Teacher: {{tut.teacher.username}}</li>
    <li>Student: {{tut.student.username}}</li>
</ul>

{% if user.groups.first.name == "Teacher" %}
    <button class="Delete" id="delete-btn" onclick="">Delete</button>
{% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'checkweb/tutoring.js' %}"></script>
{% endblock %}